h4{
  margin-bottom:5px;
}
p{
  margin-top:0;
}
.mat-card{
  box-sizing: border-box;
  margin:30px auto;
  width:500px;
}
.mat-card-header .mat-card-title{
  font-size:24px;
}
.mat-card-subtitle{
  padding:5px;
  width:100%;
}
