<div class="popup-bg">
  <form [formGroup]="form">
    <div class="close">
      <button md-icon-button (click)="close()">
      <md-icon>close</md-icon></button>
    </div>
    <div>
      <md-input-container>
        <input mdInput placeholder="Task name" type="text" formControlName="name">
      </md-input-container>
    </div>
    <div>
      <md-select placeholder="Task type" formControlName="type">
        <md-option *ngFor="let type of taskTypes" [value]="type">
          {{type}}
        </md-option>
      </md-select>
    </div>
    <div>
      <md-input-container>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose due date" formControlName="dueDate" readonly>
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker [startAt]="currentDate"></md-datepicker>
    </div>
    <div>
      <md-input-container>
        <textarea mdInput placeholder="Task description" formControlName="description"></textarea>
      </md-input-container>
    </div>
    <div>
      <button md-raised-button (click)="submit()">Save</button>
    </div>
  </form>
</div>
